<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons slot ="start"></ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ulster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ulster</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg">
</ion-content>
