<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons slot ="start"></ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png">
  <br>
  <ul>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Leithrim</li>
    <li>Mayo</li>
    <li>Sligo</li>
  </ul>
</ion-content>
